{% extends 'listings/base.html' %}

{% block content %}

<h1>Supprimer le groupe</h1>

<p>Etes-vous sûr de vouloir supprimer le groupe : {{ band.name }} ?</p>


<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Supprimer">
</form>
{% endblock %} 