
{% load static %}
<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    </head>
    <body>
        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'listing-list' %}">Annonces</a>
            <a href="{% url 'about' %}">A propos</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>

        {% block content %}{% endblock %}

    </body>
</html>