{% extends 'listings/base.html' %}

{% block content %}

<p>Nous sommes là pour vous aider.</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer">
</form>
{% endblock %}