{% extends 'listings/base.html' %}

{% block content %}
    <h1>Annonces</h1>
    <ul>
        <li> Titre: {{listing.title}}</li>
        <li>Vendu: {{listing.sold|yesno}}</li>
        <li>Année: {{listing.year}}</li>
    </ul>

    <a href="{% url 'listing-update' listing.id %}">Modifier cette annonce</a>
    <a href="{% url 'listing-delete' listing.id %}">Supprimer cette annonce</a>
{% endblock %}