{% extends 'listings/base.html' %}

{% block content %}
    <h1>Annonces</h1>
    <ul>
        {% for listing in listings %}
            <li><a href={% url 'listing-detail' listing.id %}>{{listing.title}}</a> - <a href="{% url 'listing-update' listing.id %}">[modifier]</a>- <a href="{% url 'listing-delete' listing.id %}">[supprimer]</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'listing-create' %}">Créer une nouvelle annonce</a>

{% endblock %}